<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<div class="col-sm-10 main welcome-left-margin-index">
    <div class="container">

        <h2 class="page-header">Forms</h2>
        <!--{{forms}}-->
        <ul class="nav nav-tabs">
            <li ng-class="{'active': $location.url().indexOf('form') != -1 }">
                <a href="#/form" class="ng-binding"> Forms </a> </li>
            <!--<li><a href="form-fields.html">Fields</a></li>-->
        </ul>


        <table class="table table-bordered table-striped top-margin table-config">
            <thead>
            <tr>
                <th class="col-md-2 col1-width">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Form Name
                </th>
                <th class="col-md-1 col2-width">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input ng-model="model.formName" type="text" class="input-sm form-control" id="form_name" name="form_name" placeholder="name">
                </td>
                <td>
                    <a ng-click="model.addForm()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    <a ng-click="model.updateForm()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>

            <tr ng-repeat="form in model.forms">
                <td> {{form.title}} </td>
                <td>
                    <a ng-click="model.deleteForm(form.id)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    <a ng-click="model.selectForm($index)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>