<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->

    <!--styles using bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-route.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="../../../../css/project_style.css">

    <!--<script src="app.js"></script>-->
    <!--<script src="config.js"></script>-->

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand align-formaker-up" href="#/home">Come Unite</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <form class="" role="form">
                <div  class="container login-header-height">
                    <ul class="nav navbar-nav navbar-right nav-pills ">
                        <li class="align-left-username">
                            <h5 class="set-color-for-labels">Username</h5>
                            <input ng-model="model.loginUsername" type="username" class="form-control align-login" id="loginUsername">
                        </li>
                        <li>
                            <h5 class="set-color-for-labels">Password</h5>
                            <input ng-model="model.loginPassword" type="password" class="form-control align-login" id="loginPassword">
                        </li>
                        <li>
                            <button ng-click="model.login()" type="submit" class="btn btn-primary btn-login-align
                        active">Login </button>
                        </li>

                    </ul>
                </div>
            </form>

        </div>
    </div>
</nav>

        <!--</div>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>

                <div class="col-sm-6 main sidebar-style-padding">
                    <h2 class="page-header">Welcome!</h2>

                <span class=" text-primary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </span>
                </div>


                <div class="col-sm-5 main move-complete-signup">
                    <h1 class="page-header move-signup">Sign Up!</h1>
                    <form class="form-horizontal" role="form">
                        <div class="form-group top-margin">
                            <label class="control-label col-sm-3">First Name</label>
                            <div class="col-sm-7">
                                <input ng-model="model.firstName" type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="form-group top-margin-signup">
                            <label class="control-label col-sm-3">Last Name</label>
                            <div class="col-sm-7">
                                <input ng-model="model.lastName" type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-group top-margin-signup">
                            <label class="control-label col-sm-3">Username</label>
                            <div class="col-sm-7">
                                <input ng-model="model.username" type="username" class="form-control" id="username" placeholder="Enter your username">
                            </div>
                        </div>
                        <div class="form-group top-margin-signup">
                            <label class="control-label col-sm-3">Password</label>
                            <div class="col-sm-7">
                                <input ng-model="model.password" type="password" class="form-control" id="password" placeholder="Enter your password">
                            </div>
                        </div>
                        <div class="form-group top-margin-signup">
                            <label class="control-label col-sm-3">Email</label>
                            <div class="col-sm-7">
                                <input ng-model="model.email" type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>

                        <div class="form-group top-margin-signup">
                            <label class="control-label col-sm-3">Zip Code</label>
                            <div class="col-sm-7">
                                <input ng-model="model.zipcode" type="text" class="form-control" id="zipcode" placeholder="Enter your zipcode">
                            </div>
                        </div>

                        <div class="form-group top-margin-signup">
                            <label class="control-label col-sm-4">Register as:</label>
                        </div>
                        <div class="form-group top-margin-signup">

                            <div class="col-sm-offset-5  col-sm-5 left-align-signup-button">
                                <button ng-click="model.registerMember('member')" type="submit" class="btn btn-primary btnregister-width btnregister-left active
                        align-signup-button-together">Community Member</button></a>
                            </div>
                            <div class="col-sm-offset-5  col-sm-5 left-align-signup-button">
                                <button ng-click="model.registerMember('volunteer')" type="submit" class="btn btn-primary btnregister-width btnregister-left active
                        align-signup-button-together">Volunteer </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>