 .sidebar-style-padding {
   padding-left: 90px;
   padding-right: 1px;
   padding-top: 50px;
   height:275px;
   width:700px;
  }


  .move-signup{
    text-align: center;
  }

  .move-complete-signup{
    width: 480px;
    padding-right: 0px;
    padding-left: 90px;

  }

  .top-margin-signup {
     margin-top:20px;
  }

  .top-padding{
    padding-top: 0px;
  }


  .left-align-signup-button{
    margin-left: 0px;
  }

  .align-signup-button-together{
    margin-left: 20px;
    margin-top: 10px;
  }

  .set-color-for-labels{
    color: #9d9d9d;
  }

  .align-login{
    margin-right: 20px;
    border-right-width: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    height: 26px;
  }

  .header-width-login{
    height: 70px;
  }

  .btn-login-align{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 33px;
    width: 106px;
    padding-top: 3px;
    padding-bottom: 3px;

  }



 .top-margin-project-home {
            margin-top:20px;
          }


  .welcome-left-margin-index-project {
                    margin-left: -30px;
                    margin-top: 80px;
                    margin-right:-90px;
                    width: 950px
              }


  .listing-label-align{

    width: 262px;
    padding-right: 1px;
    padding-left: 1px;
  }

  .align-pincode-textbox{
    width: 162px;
    margin-top: 20px;
    margin-right: -50;
    padding-left: 5px;
    padding-right: 5px;
  }

  .go-button-align{
    width: 64px;
    margin-top: 20px;
  }


  .adjust-width{
    width: 170px;
  }

  .align-dropdown{
    margin-left:250px;
  }

  .align-dropdown-menu{
    margin-left: 17px;
  }

  .addjob-button-align{
  margin-top: 20px;
    width: 134px;
    height: 34px;
    padding-top: 6px;
    border-top-width: 1px;
    padding-bottom: 6px;
    border-bottom-width: 1px;

    }

    .move-table-left{
        padding-right: 70px;
    }

    .remove-left-padding{
        padding-left: 0px;
    }