<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .centered {
            width: 600px;
            margin: auto;
            text-align: justify;
        }

        .navbar-custom {
            background-color: #CDCDCD;
         }

         .marginFix {
            margin-top:50px;
         }

         .alignCenter {
            text-align: center;
         }

         .top-buffer {
            margin-top:0px;
          }

         .top-margin {
            margin-top:40px;
          }

          .btnregister-width {
            width: 150px;
          }

          .btnregister-left {
            margin-left:90px;
          }

         .list-group-item {
            vertical-align: center;
            height: 100%;
            line-height:300%;
            vertical-align: center;
          }

          .labellogin-left {
            margin-left: -80px;
          }

          plus_position_left {
            margin-left:25px;
          }

          .glyphicon-plus {
            font-size: 1.5em;
          }

          .glyphicon-ok {
            font-size: 1.5em;
          }

          .glyphicon-remove {
            font-size: 1.5em;
          }

          .glyphicon-pencil {
            font-size: 1.5em;
          }

          .glyphicon-align-justify{
            font-size: 1.5em;
          }

          .align_glyphicon{
            margin-left: 70px;
            margin-top: 30px;
          }

          .align_glyphicon_first{
            margin-left:70px;
            margin-top: 70px;

          }

          .align-formaker-up{
            margin-top:-20px;
          }

          .form-field{
            margin-left: -100px;
          }

          .welcome-left-margin {
            margin-left: 50px;
            margin-right:-90px;
          }

          .welcome-left-margin-index {
                      margin-left: -130px;
                      margin-right:-90px;
                          width: 950px
                    }

          hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
           }

           .sidebar-style-padding-index {
            padding-left: 1px;
            padding-right: 1px;
            padding-top: 10px;
            height:275px;
            width:170px;
            margin-left: -15px;
           }

           .sidebar-style-padding {
                       padding-left: 1px;
                       padding-right: 1px;
                       padding-top: 10px;
                       height:275px;
                       width:170px;
                      }

           .fix-position {
           position:fixed;
           width:170px;
           }

           .table-config{
            width:1000px;
           }



           .fix-position_dynamic {
                      width:170px;
                      margin-left:-1000;
                      }

    </style>
</head>
<body>

</body>

</html>