<body>
    <div class="col-sm-10 main welcome-left-margin-index">
        <div class="container">

            <h2 class="page-header">Forms : {{model.form.title}}</h2>
            <ul class="nav nav-tabs">
                <li>
                    <a href="#/form" class="ng-binding"> Forms </a>
                </li>
                <li class="ng-scope active">
                    <a href="#/field" class="ng-binding"> Fields </a>
                </li>
            </ul>

            <form class="form-horizontal bottom-padding-field">
                <div ng-repeat="currentField in model.fields">
                    <div ng-switch on="currentField.fieldType">

                    <div ng-switch-when="TEXT">

                        <div class="form-group top-margin">
                            <label class="control-label col-sm-2">{{currentField.label}}</label>
                            <div class="col-sm-5">
                                <input id="firstName" class="form-control" type="text" placeholder="{{currentField.placeholder}}">
                            </div>
                            <div class="allicons col-lg-5">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="TEXTAREA">
                        <div class="form-group top-margin">
                            <label class="control-label col-sm-2">{{currentField.label}}</label>
                            <div class="col-sm-5">
                                <input id="lastName" class="form-control" type="text" placeholder="{{currentField.placeholder}}">
                            </div>
                            <div class="allicons col-lg-5">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="DATE">
                        <div class="form-group top-margin">
                            <label class="control-label col-sm-2">{{currentField.label}}</label>
                            <div class="col-sm-5">
                                <input id="dob" class="form-control" type="date" placeholder="{{currentField.placeholder}}">
                            </div>
                            <div class="allicons col-lg-5">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="OPTIONS">
                        <div class="form-group top-margin">
                            <label class="control-label col-sm-2">{{currentField.label}}</label>
                            <div class="col-sm-5">
                                <select id="optionId" class="form-control">
                                    <option ng-repeat="allOption in currentField.options">
                                        {{allOption.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="allicons col-lg-5">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="CHECKBOX">
                        <div class="form-group top-margin">
                            <label class="control-label col-sm-2">{{currentField.label}}</label>
                            <div class="col-sm-5" id="roles">

                                <label ng-repeat="checkOption in currentField.options">

                                    <input type="checkbox" name="checkOption.value" value="{{checkOption.value}}">{{"  "+checkOption.label}}
                                </label>
                            </div>
                            <div class="allicons col-lg-5">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                        <div ng-switch-when="EMAIL">
                            <div class="form-group top-margin">
                                <label class="control-label col-sm-2">{{currentField.label}}</label>
                                <div class="col-sm-5">
                                    <input id="email" class="form-control" type="email" placeholder="{{currentField.placeholder}}">
                                </div>
                                <div class="allicons col-lg-5">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                        <div ng-switch-when="RADIO">
                            <div class="form-group top-margin">
                                <label class="control-label col-sm-2">{{currentField.label}}</label>
                                <div class="col-sm-5">
                                    <label ng-repeat="radioOption in currentField.options">

                                        <input type="radio" name="radioOption.value" value="{{radioOption.value}}">{{"  "+radioOption.label}}
                                    </label>
                                </div>
                                <div class="allicons col-lg-5">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    <a href = ""><span class="glyphicon glyphicon-remove" ng-click="model.removeField(model.formId, currentField._id)" aria-hidden="true"></span></a>
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                </div>
                </div> <!-- End of loop-->
                <div class="form-group col-sm-12 padding-hr">
                    <hr>
                </div>

                <div class="form-group top-margin">
                    <label class="control-label col-sm-2">Add New Field:</label>
                    <div class="col-lg-5 ">
                        <select id="addNewField" ng-model="model.fieldType" class="align-field-new-field">
                            <option value="Single Line Text">Single Line Text</option>
                            <option value="Multi Line Text">Multi Line Text</option>
                            <option value="Date">Date</option>
                            <option value="Dropdown">Dropdown</option>
                            <option value="Email">Email</option>
                            <option value="Checkboxes">Checkboxes</option>
                            <option value="Radio">Radio Buttons</option>
                        </select>
                    </div>
                    <div class="allicons col-lg-5">
                        <a href = ""><span class="glyphicon glyphicon-plus" ng-click="model.addField(model.formId, model.fieldType)" aria-hidden="true"></span></a>
                    </div>
                </div>

            </form>


        </div>
    </div>
</body>