<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid header-width-login">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand align-formaker-up" href="#/home">Come Unite</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <div class="container">
                <ul class="nav navbar-nav navbar-inverse navbar-right nav-pills ">
                    <li><a href="#/my_listings"><h5>My Listings</h5></a></li>
                    <li><a href="#/profile"><h5>{{currentUser.firstname}}'s Profile</h5></a></li>
                    <li><a href="" ng-click="model.logout()"><h5>Logout</h5></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 remove-left-padding">
            <div class="col-sm-4 col-lg-3 remove-left-padding">
            <div ng-include="'views/sidebar/sidebar.view.html' "></div>
        </div>

            <div class="col-sm-8 col-lg-7">
            <div class="main">
                <br>
                <br>
                <br>
                <br>
                <form class="form-horizontal" role="form">

                    <h2 class="page-header">Update Job</h2>


                    <div class="form-group top-margin">
                        <label class="control-label col-sm-4" for="desc">Job Description</label>

                        <div class="col-sm-4">
                <textarea ng-model="model.currentJob.jobDescription" rows="4" cols="40">
                    </textarea>
                        </div>
                    </div>

                    <div class="form-group top-margin-signup">
                        <label class="control-label col-sm-4" for="add1">Street</label>

                        <div class="col-sm-4">
                            <input ng-model="model.currentJob.address.street" type="text" class="form-control" id="add1"
                                   placeholder="Street, Apt#">
                        </div>
                    </div>

                    <div class="form-group top-margin-signup">
                        <label class="control-label col-sm-4" for="add1">Apt no.</label>

                        <div class="col-sm-4">
                            <input ng-model="model.currentJob.address.apt" type="text" class="form-control" id="add1"
                                   placeholder="Street, Apt#">
                        </div>
                    </div>

                    <div class="form-group top-margin-signup">
                        <label class="control-label col-sm-4" for="city">City</label>

                        <div class="col-sm-4">
                            <input ng-model="model.currentJob.address.city" type="text" class="form-control" id="city"
                                   placeholder="City">
                        </div>
                    </div>

                    <div class="form-group top-margin-signup">
                        <label class="control-label col-sm-4" for="city">State</label>

                        <div class="col-sm-4">
                            <input ng-model="model.currentJob.address.state" type="text" class="form-control" id="state"
                                   placeholder="State">
                        </div>
                    </div>

                    <div class="form-group top-margin-signup">
                        <label class="control-label col-sm-4" for="zipCode">Zip Code</label>

                        <div class="col-sm-4">
                            <input ng-model="model.currentJob.address.zip" type="text" class="form-control" id="zipCode"
                                   placeholder="Your zip code">
                        </div>
                    </div>

                    <div class="form-group top-margin-signup">
                        <label class="control-label col-sm-4" for="datetime">Date</label>

                        <div class="col-sm-4">
                            <input ng-value="model.currentJob.postedDate | date:'MM/dd/yyyy'" type="text" class="form-control" id="datetime">
                        </div>
                    </div>

                    <!--{{model.currentJob.postedDate | date:'MM/dd/yyyy'}}-->
                    <div class="form-group top-margin ">
                        <div class="col-sm-offset-4  col-sm-3">
                            <button ng-click="model.updateJob(model.currentJob._id)" type="submit"
                                    class="btn btn-primary btn-block active" role="button">
                                Update Post
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        </div>
    </div>
</div>
</body>
