<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<br>

<div class="nav-side-menu adjust-height">
    <!--<div class="brand">Brand Logo</div>-->
    <!--<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>-->
<br>
    <br>
    <br>
    <br>
    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-globe fa-lg"></i> Categories
                </a>
            </li>

            <li  data-toggle="collapse" data-target="#maintenance" class="collapsed">
                <a><i class="fa fa-wrench fa-lg"></i> Maintenance <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="maintenance">
                <li><a ng-href="#/category/{{role}}/Lawn Mowing">Lawn Mowing</a></li>
                <li><a ng-href="#/category/{{role}}/Snow Shoveling">Snow Shoveling</a></li>
                <li><a ng-href="#/category/{{role}}/Cleaning">Cleaning</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#tutoring" class="collapsed">
                <a><i class="fa fa-book fa-lg"></i> Tutoring <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="tutoring">
                <li><a ng-href="#/category/{{role}}/Math">Math</a></li>
                <li><a ng-href="#/category/{{role}}/Science">Science</a></li>
                <li><a ng-href="#/category/{{role}}/Languages">Languages</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a><i class="fa fa-ambulance fa-lg"></i> Caretaker <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li><a ng-href="#/category/{{role}}/Baby Sitter">Baby Sitter</a></li>
                <li><a ng-href="#/category/{{role}}/Dog Walker">Dog Walker</a></li>
            </ul>
        </ul>
    </div>
</div>