<h2 class="page-header">The Dinners that you want!</h2>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://www.centralmarket.com/App_Themes/website/_images/homepage_images_dinner_for_two@2x.jpg" alt="...">
            <div class="carousel-caption header">
                <h1 style="color:#080808">Tempting Menus</h1>
            </div>
        </div>
        <div class="item">
            <img src="http://tse4.mm.bing.net/th?id=OIP.M7840acd782c80f893ba56cd0f0cd7e23o0&pid=15.1" alt="...">
            <div class="carousel-caption">
                <h3>Easy Ordering</h3>
            </div>
        </div>
        <div class="item">
            <img src="http://www.fooddelivery.org/images/home-delivery-1.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Friendly Delivery</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

<div>
    <h3>Want to join the exciting team of Home-made Dinner?</h3>
    <a href="#/chef-register">Join as Chef</a> Or
    <a href="#/driver-register">Join as Driver</a>
</div>

<!--<script>-->
<!--$("#carousel-example-generic").carousel();-->
<!--</script>-->
