
<body>
<div class="container-fluid">

    <div class="col-sm-9 main welcome-left-margin-index-project">
        <div class="form-group top-margin-project-home">
            <label class="control-label col-sm-6 listing-label-align" for="listings"><h3>Lawn Mowing Jobs:</h3></label>
            <!--<div class="col-sm-3">-->
                <!--<input  type="text" class=" align-pincode-textbox" id="pincode" placeholder="98237">-->
            <!--</div>-->
            <div class="dropdown col-sm-3 align-dropdown">
                <button class="btn btn-default dropdown-toggle align-pincode-textbox" type="textbox" id="menu1" data-toggle="dropdown">Filter by status
                    <span class="caret"></span></button>
                <ul class="dropdown-menu align-dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Acquired</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Completed</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pending</a></li>
                </ul>
            </div>

            <a href="#/add_job"><button class="btn btn-primary col-sm-3 addjob-button-align">Add a new job</button></a>
        </div>
    </div>

    <div class="col-sm-9 welcome-left-margin-index-project move-table-left">
        <table  class="table table-striped" >
            <thead>
            <tr>
                <th><h5>Job description</h5></th>
                <th><h5 class="adjust-width">Address/Data/Time</h5></th>
                <th><h5 class="adjust-width">Status</h5></th>
                <th><h5 class="adjust-width">Posted by</h5></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="job in model.jobs">
                <td>{{job.description}}</td>
                <td>{{job.address}}</td>
                <td>{{job.status}}</td>
                <td>Alex</td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
</body>
</html>