
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand align-formaker-up" href="#/home"><h2>Come Unite</h2></a>
        </div>

        <div  class="container">
            <ul class="nav navbar-nav navbar-inverse navbar-right nav-pills ">
                <li><a a href="#/my_listings"><h5>My Listings</h5></a></li>
                <li><a a href="#/profile"><h5>Username's Profile</h5></a></li>
                <li><a><h5>Logout</h5></a></li>
            </ul>
        </div>

    </div>

</nav>
