<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid header-width-login">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand align-formaker-up" href="#/home">Come Unite</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <div class="container">
                <ul class="nav navbar-nav navbar-inverse navbar-right nav-pills ">
                    <li ng-show="(model.role && model.role == 'member')"><a href="#/my_listings"><h5>My Listings</h5>
                    </a></li>
                    <li ng-show="(model.role && model.role == 'volunteer')"><a href="#/my_jobs"><h5>My Jobs</h5></a>
                    </li>
                    <li><a href="#/profile"><h5>{{model.currentUser.firstname}}'s Profile</h5></a></li>
                    <li><a href="" ng-click="model.logout()"><h5>Logout</h5></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 remove-left-padding">
            <div class="col-sm-4 col-lg-3 remove-left-padding">
                <div ng-include="'views/sidebar/sidebar.view.html' "></div>
            </div>

            <div class="col-sm-8 col-lg-7">
                <br>
                <br>
                <br>
                <br>
                <div class="main">
                    <form class="form-horizontal" role="form">
                        <h2 class="page-header">Your Profile</h2>

                        <div class="form-group top-margin">
                            <label class="control-label col-sm-4" for="firstName">First Name</label>

                            <div class="col-sm-4">
                                <input ng-model="model.currentUser.firstname" type="text" class="form-control"
                                       id="firstName" placeholder="Your first name">
                            </div>
                        </div>

                        <div class="form-group top-margin">
                            <label class="control-label col-sm-4" for="lastName">Last Name</label>

                            <div class="col-sm-4">
                                <input ng-model="model.currentUser.lastname" type="text" class="form-control" id="lastName"
                                       placeholder="Your last name">
                            </div>
                        </div>

                        <div class="form-group top-margin">
                            <label class="control-label col-sm-4" for="email">Email</label>

                            <div class="col-sm-4">
                                <input ng-model="model.currentUser.email" type="email" class="form-control" id="email"
                                       placeholder="e.g. email@hotmail.com">
                            </div>
                        </div>

                        <div class="form-group top-margin">
                            <label class="control-label col-sm-4" for="pwd">Password</label>

                            <div class="col-sm-4">
                                <input ng-model="model.currentUser.password" type="password" class="form-control" id="pwd"
                                       placeholder="Your password">
                            </div>
                        </div>

                        <div class="form-group top-margin">
                            <label class="control-label col-sm-4" for="zipCode">Zip Code</label>

                            <div class="col-sm-4">
                                <input ng-model="model.currentUser.zipcode" type="text" class="form-control" id="zipCode"
                                       placeholder="Your zip code">
                            </div>
                        </div>


                        <div class="form-group top-margin ">
                            <div class="col-sm-offset-4  col-sm-3">
                                <button ng-click="model.update()" type="submit"
                                        class="btn btn-primary btn-block active" role="button">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>
</body>
